---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Fragment slot="head">
    <title th:text="${site.title}"></title>
  </Fragment>

  <th:block th:replace="~{fragments/post-list}"></th:block>

  <nav
    th:if="${posts.totalPages gt 1}"
    class="pagination"
    aria-label="Pagination"
  >
    <a
      th:if="${posts.hasPrevious()}"
      th:href="@{${posts.prevUrl}}"
      class="pagination__prev">&larr; 较新</a
    >
    <span
      class="pagination__info"
      th:text="|${posts.page} / ${posts.totalPages}|"></span>
    <a
      th:if="${posts.hasNext()}"
      th:href="@{${posts.nextUrl}}"
      class="pagination__next">较旧 &rarr;</a
    >
  </nav>
</Layout>
