---
import Layout from "../layouts/Layout.astro";
---

<Layout contentClass="prose">
  <Fragment slot="head">
    <title th:text="|${post.spec.title} - ${site.title}|"></title>
  </Fragment>

  <div class="page-heading">
    <h1 th:text="${post.spec.title}"></h1>
    <p class="page-meta">
      <span th:text="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"
      ></span>
    </p>
  </div>

  <th:block th:utext="${post.content.content}"></th:block>

  <halo:comment
    group="content.halo.run"
    kind="Post"
    th:attr="name=${post.metadata.name}"
  >
  </halo:comment>
</Layout>
